html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body { height: 100%; }
body {
    color: white;
	font-size: 20;
	text-shadow: 1px 1px 1px #000;
	font-family: Tahoma;
	background: url(/img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;			
	background-color: #4f4d47;	
}

#wrap { min-height: 100%; }

#main {
	overflow:auto;
	padding-bottom: 98px; /* must be same height as the footer */
}

#footer {
	position: relative;
	margin-top: -98px; /* negative value of footer height */
	height: 98px;
	clear:both;
}

/*Opera Fix*/
body:before
{
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

a, a:visited {
	color: #ffeab0;
}
a:hover {
	color: #fff;
}

.twitter {background-image:url('/img/twitter.png');background-repeat:no-repeat;height:38px;width:38px}
.twitter:hover {background-image:url('/img/twitter_hover.png');}
.facebook {background-image:url('/img/facebook.png');background-repeat:no-repeat;height:38px;width:38px}
.facebook:hover {background-image:url('/img/facebook_hover.png');}

.vires, .vires a:link, .vires a:visited, .vires a:hover, .vires a:active, .vires a:focus {
	text-decoration: none;
	padding-top:4px;
	font-family: 'VT323', cursive;
	color:#fff;
	font-size:12px;
	letter-spacing:3px;
	text-shadow: 1px 1px 1px #000;
}

div#preloaded-images {
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}

h1 {
	padding-top: 16px;
	text-align: center;
	font-size: 3.4em;
	font-weight: bold;
	color: #f8d16e;
}
h2 {
	text-align: center;
	color: #f8d16e;
	font-size: 1.6em;
	line-height: 1.6em;
}
h3 {
	text-align: center;
	color: #ddd;
	font-size: 1.6em;
	line-height: 1.1em;
}

.exchange {
	color: #ffeab0;
}

.ilsusd {
	font-size:0.7em;
	color: #aaa;
	position: relative;
	top: -4px;
}

.currency {
	color: #aaa;
	font-size: 0.8em;
}

#login-buttons {
	font-size: 20px;
}

.container td {
	margin: 25px;

	/*border: 1px solid #eee;*/

	/*Transition*/
	-webkit-transition: all 0.25s ease;
	-moz-transition: 	all 0.25s ease;
	-o-transition: 		all 0.25s ease;
}
.container th {
	margin: 25px;

	border: 1px solid #eee;

	/*Transition*/
	-webkit-transition: all 0.25s ease;
	-moz-transition: 	all 0.25s ease;
	-o-transition: 		all 0.25s ease;
}
.container table {
	color: #F0FFFF;
	font-weight: bold;
	border-collapse: separate;
	border-spacing:0px 10px;
	width: auto;
	margin-left: auto;
	margin-right: auto;

	
}
.container tr {
	height: 39px;
}

.container th:first-child {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	width: auto;
}

.container th:last-child {
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}		

.container th {
	background-color: #191919;
	/*box-shadow: 7px 3px 10px 2px black;*/
	padding: 5px;
	margin: 5px;
	text-shadow: 1px 1px 1px #000;
}

.container tr > td:first-child {

	width: auto;
	white-space: nowrap;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
}

.container tr > td:last-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.container td {
	text-align: center;
	padding: 5px;
	margin: 5px;
	/*box-shadow: 5px 3px 10px 2px black;*/
	text-shadow: 1px 1px 1px #000;
}

.container th:hover {
	opacity: 1;
	-webkit-box-shadow: inset 0px 0px 20px rgba(255,255,255,0.8);
		-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
		box-shadow: inset 0px 0px 20px rgba(255,255,255,0.8);
		cursor: pointer;
		-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}
.remove {
	background-color: red;
	font-weight: bold;
	color: white;
}

#bid_list {
	padding-right: 2px;
}
#header {
    /*background-color: #3366FF;*/
    margin: auto;
}
#wrapper {
    margin: auto;

    display: compact;
}
#wrapper {
    margin: auto;
}
#login {
    align: center;
}
.mine {
    background-color: darkslateblue;
}
.other {
    background-color: darkgreen;
}
.up {
    text-align: left;
    background-color: white;
    color: green;
}
.down {
    text-align: right;
    background-color: white;
    color: red;
}
#myModal .modal-body {
    height: 430px;
}
